//Content Area
.social-media {
    padding-left: 350px;
    .facebook {
        background: blue ;
        font-size: 50px;
    }
    .twitter{
        background: rgba(0, 132, 255, 0.808) ;
        font-size: 50px;  
    }
    .dribbble{
        background: rgba(255, 123, 0, 0.89) ;
        font-size: 50px;  
    }
    .instagram{
        background: rgba(255, 0, 149, 0.993) ;
        font-size: 50px; 
    }
    .fa{
        color:white;

    }
 .friends {
    position: relative;
    top: 30px;
    right: 35px;
    font-size: 22px;
    }
}
    .number {
        background: white;
        width: 80px;
        .first{
            position: relative;
            right: -18px;
            font-size: 20px;
            font-weight: 400;
            color: darkgrey;
        }
        .lead{
            font-weight: 400;
            color: darkgrey;
        }
    }
//Card Container
.card-news{
  margin-left: 80px;
}
#cards{
    padding-left:240px;
    .card{
        margin-left: 70px;
    }
}